body {
    margin: 0px;
}

.addTask {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleToAssigned {
    padding: 30px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

.dateToButtons {
    padding: 30px;
}