/* ADD TASK */
body {
    margin: 0px;
    background: #F6F7F8;
    font-family: 'Inter';
}

.addTaskContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-left: 270px;
}

.addTask {
    display: flex;
    padding-top: 70px;
    padding-left: 10px;
}

.addTask h1 {
    font-family: 'Inter';
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 7px;
}

.addTaskLeftSide {
    display: flex;
    flex-direction: column;
}

.titleToAssigned {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    line-height: 120%;
}

.titleToAssigned p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.title input {
    cursor: pointer;
    width: 378px;
    padding: 13px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.description textarea {
    cursor: pointer;
    width: 378px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    font-family: 'Inter';
}

.category select {
    cursor: pointer;
    width: 422px;
    height: 51px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    border: 1px solid #D1D1D1;
}

.borderLine {
    height: 551px;
    border: 1px solid #D1D1D1;
    align-self: flex-end;
    margin-top: 150px;
    margin-left: 59px;
    margin-right: 59px;
}

/* Date to Buttons */
.dateToButtons {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.dateToButtons p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.dueDate input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    color: #D1D1D1;
    width: 378px;
    height: 13px;
}

.prio button {
    font-family: 'Inter';
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.prioButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 7px;
}

.prio button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
}

.urgent {
    appearance: none;
    content: url(../assets/img/add_task_img/urgent.png);
}

.urgent:hover {
    cursor: pointer;
}

.urgentButton:focus {
    background-color: #FF1300;
    color: white;
}

.prio button:focus .urgent {
    content: url(../assets/img/add_task_img/urgentSelected.png);
}

.medium {
    appearance: none;
    content: url(../assets/img/add_task_img/medium.png);
}

.medium:hover {
    cursor: pointer;
}

.mediumButton:focus {
    background-color: #FFA300;
    color: white;
}

.prio button:focus .medium {
    content: url(../assets/img/add_task_img/mediumSelected.png);
}

.low {
    appearance: none;
    content: url(../assets/img/add_task_img/low.png);
}

.low:hover {
    cursor: pointer;
}

.lowButton:focus {
    background-color: #49E500;
    color: white;
}

.prio button:focus .low {
    content: url(../assets/img/add_task_img/lowSelected.png);
}

.subtasks {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.subtasks input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    color: #D1D1D1;
}

.subtasks span {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.checkboxSubtask {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.clearAndCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.clearAndCreate button:hover {
    cursor: pointer;
}

.clear {
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.create {
    height: 61px;
    width: 177px;
    left: 161px;
    top: 0px;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    padding: 18px 10px;
    width: 177px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}