body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none !important;
}


.openTask {
    position: fixed;
    background-color: #FFFFFF;
    height: 61vh;
    width: 27vw;
    z-index: 5;
    left: 664px;
    top: 148px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
}

.openTaskCategory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openTask h2 {
    font-size: 3rem;
}

#openTaskDesc {
    margin-top: -20px;
}

.addNewTask {
    position: fixed;
    background-color: #FFFFFF;
    padding-right: 24px;
    z-index: 5;
    left: 300px;
    top: 148px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.container {
    
    padding-left: 60px;

}

.headlineAddTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}

.headlineAddTasks h1 {
    font-weight: 700;
    font-size: 61px;
}

.inputAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAddTasks input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 14px 21px;
    gap: 10px;
    margin-right: 34px;
    background: url(../assets/img/board_img/magnifying-glass.png) no-repeat scroll 188px 12px;

}

.headlineAddTasks button {
    
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 0px 10px;
    gap: 10px;
    cursor: pointer;
}

.headlineAddTasks button:hover {
    background-color: #3e4e64;
    border: 1px solid #3e4e64;
}

.taskSection {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.tasks {
    margin-right: 26px;
    width: 25%;
    height: 100%;

}

#plus {
    padding: 5px;
    height: 25px;
    width: 25px;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
}

.taskBoxes {
    z-index: 2;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 25px;
    cursor: pointer;
}

.singleTask {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.category {
    border-radius: 8px;
    position: relative;
    margin-top: 24px;
    width: 60%;
    box-sizing: border-box; 
    padding: 4px 12px;
    color: white;
    margin-left: 20px;
}

.taskHeadline {
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    margin-left: 24px;
    margin-top: 24px;
}

.taskDescription {
    color: #a8a8a8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-left: 24px;
    margin-top: 24px;
}



.peopleInvolvedPriority {

    margin-top: 24px;

}

.peopleInvolved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 27px;

}

.people {
    width: 35px;
    height: 35px;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: -8px;
}

.openTaskCategory {
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 4px 24px;

}

.openTaskKicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

#close {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#edit-btn {
    text-align: right;
    width: 100%;
}

.dragArea {
    min-height: 60vh;
}

.dragAreaHighlight {
    border: 1px dashed black;
}

/* category colors */

.Design {
    background-color: #FF7A00;
}

.Marketing {
    background-color: #0038FF;
}

.Sales {
    background-color: #FC71FF;

}

.Backoffice {
    background-color: #1FD7C1;
}

.Media {
    background-color: #FFC701;
}

/* category colors end */

.exitBtn {
    margin-right: 40px;
    text-align: right;
    margin-top: 30px;
}

/* Code from add_tasks.html */

/* ADD TASK */

.addTaskContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.addTaskContainer h1 {
    font-size: 61px;
}


.addTaskLeftSide {
    display: flex;
    flex-direction: column;
}

.titleToAssigned {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    color: #000000;
    line-height: 120%;
}

.titleToAssigned p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.title p {
    margin-top: 0px;
}

.title input {
    cursor: pointer;
    width: 378px;
    padding: 11.9px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.title input::placeholder {
    color: #D1D1D1;
}

.description textarea {
    cursor: pointer;
    width: 378px;
    height: 81px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    font-family: 'Inter';
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    background: #FFFFFF url(../assets/img/add_task_img/textareaSign.png) no-repeat;
    background-position: 99% 95%;
}

.description textarea::placeholder {
    color: #D1D1D1;
}



.categoryAssigned {
    position: relative;
}

.dropdown {
    background: #FFFFFF;
    cursor: pointer;
    width: 404px;
    height: 51px;
    border-radius: 10px;
    padding-left: 18px;
    border: 1px solid #D1D1D1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 51px;
    color: #000000;
    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        0px 1.5em;
    background-repeat: no-repeat;
}

.showAllCategorys {
    height: 100%;
    max-height: 100%;

}

.borderLine {
    height: 540px;
    border: 1px solid #D1D1D1;
    align-self: flex-start;
    margin-left: 59px;
    margin-right: 59px;
    margin-bottom: 20px;
}

/* Date to Buttons */
.dateToButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.dateToButtons p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.dueDate p {
    margin-top: 0px;
}

.dueDate input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    width: 378px;
    height: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    background: #FFFFFF url(../assets/img/add_task_img/dueDate.png) no-repeat;
    background-position: 95% 50%;
}

.dueDate input::placeholder {
    color: #D1D1D1;
}

.prio button {
    font-family: 'Inter';
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.prioButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 7px;
}

.prio button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
}

.urgent {
    appearance: none;
    content: url(../assets/img/add_task_img/urgent.png);
}

.urgent:hover {
    cursor: pointer;
}

.urgentButton:focus {
    background-color: #FF1300;
    color: white;
}

.prio button:focus .urgent {
    content: url(../assets/img/add_task_img/urgentSelected.png);
}

.medium {
    appearance: none;
    content: url(../assets/img/add_task_img/medium.png);
}

.medium:hover {
    cursor: pointer;
}

.mediumButton:focus {
    background-color: #FFA300;
    color: white;
}

.prio button:focus .medium {
    content: url(../assets/img/add_task_img/mediumSelected.png);
}

.low {
    appearance: none;
    content: url(../assets/img/add_task_img/low.png);
}

.low:hover {
    cursor: pointer;
}

.lowButton:focus {
    background-color: #49E500;
    color: white;
}

.prio button:focus .low {
    content: url(../assets/img/add_task_img/lowSelected.png);
}

.subtasks {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.subtasks input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    background: #FFFFFF url(../assets/img/add_task_img/plus.png) no-repeat;
    background-position: 95% 50%;
}

/* .subtasks input:required:invalid, input:focus:invalid {
    border-color: #FF1300;
} */

.inputSubtask {
    width: 378px;
    height: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.inputSubtask::placeholder {
    color: #D1D1D1;
}

.inputSubtask:focus {
    background: #FFFFFF url(../assets/img/add_task_img/cross.png) no-repeat;
    background-position: 95% 50%;
}

.subtasks span {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.checkboxSubtask {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.clearAndCreate {
    display: flex;
    margin-top: 243px;
    margin-left: auto;
    gap: 25px;
}

.clearAndCreate button:hover {
    cursor: pointer;
}

.clear {
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.clear:hover {
    border: 1px solid rgb(0, 174, 231);
    color: rgb(0, 174, 231);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.cross {
    appearance: none;
    content: url(../assets/img/add_task_img/cross.png);
    margin: 0px;
    margin-left: 16.76px;
}

.clear:hover .cross {
    cursor: pointer;
    content: url(../assets/img/add_task_img/crossHover.png);
}

.create {
    width: 177px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background: #2A3647;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: start;
}

.create:hover {
    border-color: rgb(0, 174, 231);
    background-color: rgb(0, 174, 231);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.create img {
    margin-left: 7px;
}

#addButton {
    margin-left: 10px;

}

.buttonAndText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toBeReplaced p {
    margin: 2px;
}

.noScroll {
    overflow: hidden;
}

/* End Code from add_task.html */

@media (max-width: 1400px) {
    .status {
        font-size: 15px;
    }

}

@media (max-width: 1200px) {
    .status {
        font-size: 12.5px;
    }

}

@media (max-width: 500px) {
    .container {
        padding: 35px;
    }

    .headlineAddTasks {
        flex-direction: column;
        align-items: flex-start;
    }

    .headlineAddTasks h1 {
        font-size: 47px;
    }

    #toBeReplaced {
        display: none;
    }

    #addButton {
        margin: 12px 2px;

    }

    .taskSection {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .tasks {
        margin-right: 26px;
        width: 100%;
        margin-top: 24px;

    }

    .dragArea {
        min-height: 30vh;
    }

    .openTask {
        position: fixed;
        background-color: #FFFFFF;
        width: 100%;
        height: 91%;
        z-index: 5;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        box-shadow: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        
    }

    .openTaskKicker {
        justify-content: space-around;
        margin-top: -200px;
    }

    .openTask h2 {
        padding-left: 12px;
        font-size: 2.4rem;
    }
    
    #openTaskHMobile {
        width: 100%;
    }

    #pMobile {
        padding-left: 12px;
    }

    #openTaskDesc {
        margin-top: 0;
    }

    #assignedMobile {
        padding-left: 12px;
    }

    #edit-btn {
        margin-top: 60px;
    }

}

/* Progress Bar */

.progressbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;

}

.progressbar-grey {
    width: 50%;
    height: 8px;
    background-color: rgb(184, 170, 170);
    border-radius: 2px;
    margin-right: 11px;
    margin-left: 24px;
    border-radius: 20px;
}

.progressbar-blue {
    height: 100%;
    background-color: rgb(75, 163, 192);
    border-radius: 20px;
}

.progressText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

#done-counter {
    box-sizing: border-box;
    margin-right: 12px;
}


/* End Progress Bar */

/* CSS from add_task */

/* ADD TASK */
body {
    background: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none;
}

.addTaskContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
}

.addTaskContainer h1 {
    font-family: 'Inter';
    font-size: 50px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 41px;
    padding-left: 50px;
    
}

.addTask {
    display: flex;
    padding-left: 50px;
}

.addTaskLeftSide {
    display: flex;
    flex-direction: column;
}

.titleToAssigned {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 400;
    color: #000000;
    line-height: 120%;
}

.titleToAssigned p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.title p {
    margin-top: 0px;
}

.title input {
    cursor: pointer;
    width: 378px;
    padding: 11.9px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.title input::placeholder {
    color: #D1D1D1;
}

.description textarea {
    cursor: pointer;
    width: 378px;
    height: 81px;
    border-radius: 10px;
    padding: 18px 21px 18px 21px;
    border: 1px solid #D1D1D1;
    background: #FFFFFF;
    font-family: 'Inter';
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    background: #FFFFFF url(../assets/img/add_task_img/textareaSign.png) no-repeat;
    background-position: 99% 95%;
}

.description textarea::placeholder {
    color: #D1D1D1;
}


.categoryAssigned {
    position: relative;
}

.dropdown {
    background: #FFFFFF;
    cursor: pointer;
    height: 49px;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 51px;
    color: #000000;
    background-image:
        linear-gradient(45deg, transparent 50%, black 50%),
        linear-gradient(135deg, black 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        0px 1.5em;
    background-repeat: no-repeat;
}

.showAllCategorys {
    width: 420px;
    height: 100%;
    max-height: 204px;
    overflow: scroll;
}

.categorysDropdown {
    padding-left: 18px;
    width: 100%;
}

.categorysDropdown:hover {
    background-color: rgb(201, 201, 201);
}

.categorysDropdownSelectHTML {
    padding-left: 18px;
}

.categorysDropdownSelect {
    height: 51px;
    padding-left: 18px;
}

.categorysOptions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.categoryContent {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 378px;
    height: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.newCategory {
    text-decoration: none;
    color: black;
    width: 100%;
    padding-left: 18px;
}

.categorysNewCategory:hover {
    background-color: rgb(201, 201, 201);
}

.categoryColors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.colorDotCategorys {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.colorDot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 20px;
}

.colorDot:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 125ms ease-in-out;
}

.contactOptions {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.contactOptions input {
    margin-right: 15px;
}

.contactOptions input:hover {
    cursor: pointer;
}



/* Date to Buttons */
.dateToButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.dateToButtons p {
    margin-bottom: 8px;
    margin-top: 34px;
}

.dueDate p {
    margin-top: 0px;
}

.dueDate input {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-family: 'Inter';
    width: 378px;
    height: 13px;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.dueDate input::placeholder {
    color: #D1D1D1;
}

.prioButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    gap: 7px;
}

.prio button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.31);
}

.urgentButton {
    font-family: 'Inter';
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    width: 136px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    gap: 7px;
}

.urgent:hover {
    cursor: pointer;
}

.urgentButtonFocused {
    color: white;
    background: #FF1300;
}

.urgentButtonFocused img {
    content: url(../assets/img/add_task_img/urgentSelected.png);
}

.medium:hover {
    cursor: pointer;
}

.mediumButtonFocused {
    color: white;
    background-color: #FFA300;
}

.mediumButtonFocused img {
    content: url(../assets/img/add_task_img/mediumSelected.png);
}

.low:hover {
    cursor: pointer;
}

.lowButtonFocused {
    color: white;
    background-color: #49E500;
}

.lowButtonFocused img {
    content: url(../assets/img/add_task_img/lowSelected.png);
}

.subtasksContent {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.inputSubtask {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 21px;
    gap: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 378px;
    height: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #D1D1D1;
}

.subtaskRender {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtaskImage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    gap: 10px;
}

.inputBorder {
    width: 0px;
    height: 20px;
    border: 1px solid #D1D1D1;
}

.inputFieldSubtask {
    border: unset;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    padding: 0px;
}

.inputFieldSubtask::placeholder {
    color: #D1D1D1;
}

.inputFieldSubtask:hover {
    cursor: pointer;
}

.inputFieldSubtask:focus {
    outline: none;
}

.subtasks span {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.checkboxSubtask {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.newSubtasks {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-height: 200px;
    overflow: scroll;
}

.newSubtasks input:hover {
    cursor: pointer;
}

.clearAndCreate {
    display: flex;
    margin-top: 243px;
    margin-left: auto;
    gap: 25px;
}

.clearAndCreate button:hover {
    cursor: pointer;
}

.clear {
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background-color: #F6F7F8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.clear:hover {
    border: 1px solid rgb(0, 174, 231);
    color: rgb(0, 174, 231);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.cross {
    appearance: none;
    content: url(../assets/img/add_task_img/cross.png);
    margin: 0px;
    margin-left: 16.76px;
}

.clear:hover .cross {
    cursor: pointer;
    content: url(../assets/img/add_task_img/crossHover.png);
}

.create {
    width: 177px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 18px 10px 18px 10px;
    background: #2A3647;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: start;
}

.create:hover {
    border-color: rgb(0, 174, 231);
    background-color: rgb(0, 174, 231);
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.4);
}

.create img {
    margin-left: 7px;
}


@media only screen and (max-width: 1330px) {}

@media only screen and (max-width: 1200px) {}


@media only screen and (max-width: 1060px) {}


@media only screen and (max-width: 400px) {}

/* end CSS from add_task */