body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none !important;
}


.darker {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;
    width: 100%;
    background: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
}


.openTask {

    background-color: #FFFFFF;
    z-index: 5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    
}

.openTaskCategory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openTask h2 {
    font-size: 3rem;
}

#openTaskDesc {
    margin-top: -20px;
}

.addNewTask {
    background-color: #FFFFFF;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.headlineAddTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    padding-top: 33px;
    padding-right: 30px;
}

.headlineAddTasks h1 {
    font-weight: 700;
    font-size: 61px;
}

.inputAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAddTasks input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 14px 9px;
    gap: 10px;
    margin-right: 15px;
    background: url(../assets/img/board_img/magnifying-glass.png) no-repeat scroll 160px 12px;

}

.headlineAddTasks button {

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 1px 10px;
    gap: 10px;
    cursor: pointer;
}

.headlineAddTasks button:hover {
    background-color: #3e4e64;
    border: 1px solid #3e4e64;
}

.taskSection {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.tasks {
    margin-right: 26px;
    width: 25%;
    height: 100%;

}

#plus {
    padding: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
}

.taskBoxes {
    z-index: 2;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 25px;
    cursor: pointer;
}

.singleTask {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.category1 {
    border-radius: 8px;
    position: relative;
    margin-top: 24px;
    width: 60%;
    box-sizing: border-box;
    padding: 4px 12px;
    color: white;
    margin-left: 20px;
}

.category2 {
    border-radius: 8px;
    position: relative;
    margin-top: 50px;
    width: 60%;
    box-sizing: border-box;
    padding: 4px 12px;
    color: white;
}

.taskHeadline {
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    margin-left: 24px;
    margin-top: 24px;
}

.taskDescription {
    color: #a8a8a8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-left: 24px;
    margin-top: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 12px;
}

.circleAndName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 100px;
}

.personsName {
    padding-left: 24px;
}

.peopleInvolvedPriority {

    margin-top: 24px;

}

.peopleInvolved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 27px;

}

.people {
    width: 35px;
    height: 35px;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: -8px;
}

.openTaskCategory {
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 4px 24px;

}

.openTaskKicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

#close {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#edit-btn {
    text-align: right;
    width: 100%;
}

.dragArea {
    min-height: 350px;
}

.dragAreaHighlight {
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

/* category colors */

.Design {
    background-color: #FF7A00;
}

.Marketing {
    background-color: #0038FF;
}

.Sales {
    background-color: #FC71FF;

}

.Backoffice {
    background-color: #1FD7C1;
}

.Media {
    background-color: #FFC701;
}

/* category colors end */

.exitBtn {
    margin-right: 40px;
    text-align: right;
    margin-top: 30px;
}

#addButton {
    margin-left: 10px;

}

.buttonAndText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toBeReplaced p {
    margin: 2px;
}

.noScroll {
    overflow: hidden;
}

/**
*
* Media Querys
*
*/


@media (max-width: 1400px) {
    .status {
        font-size: 15px;
    }


}

@media (max-width: 1200px) {
    .status {
        font-size: 12.5px;
    }

}

@media (max-width: 600px) {
    .container {
        margin-top: 65px;
    }

    .headlineAddTasks {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .headlineAddTasks h1 {
        font-size: 47px;
    }

    .inputAndButton {
        padding-top: 36px;
    }

    #toBeReplaced {
        display: none;
    }

    #addButton {
        margin: 12px 2px;

    }

    .taskSection {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: 100px;
    }

    .tasks {
        margin-right: 26px;
        width: 100%;
        margin-top: 24px;

    }

    .dragArea {
        min-height: 30vh;
    }

    .openTask {
        position: fixed;
        background-color: #FFFFFF;
        width: 100%;
        height: 91%;
        z-index: 5;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 0px;
        box-shadow: none;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
        

    }

    .openTaskKicker {
        justify-content: space-around;
        margin-top: -200px;
    }

    .openTask h2 {
        padding-left: 12px;
        font-size: 2.4rem;
    }

    #openTaskHMobile {
        width: 100%;
    }

    #pMobile {
        padding-left: 12px;
    }

    #openTaskDesc {
        margin-top: 0;
    }

    #assignedMobile {
        padding-left: 12px;
    }

    #edit-btn {
        margin-top: 60px;
    }

}

/*
*
* End Media Querys
*
*/

/* Progress Bar */

.progressbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;

}

.progressbar-grey {
    width: 50%;
    height: 8px;
    background-color: rgb(184, 170, 170);
    border-radius: 2px;
    margin-right: 11px;
    margin-left: 24px;
    border-radius: 20px;
}

.progressbar-blue {
    height: 100%;
    background-color: rgb(75, 163, 192);
    border-radius: 20px;
}

.progressText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

#done-counter {
    box-sizing: border-box;
    margin-right: 12px;
}


/*
*
* Add Tasks modified CSS
*
*/

.addTaskContainer h1 {
    font-size: 45px !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    padding-left: 40px !important;
}

.clearAndCreate {
    margin-top: 117px !important;
}

.titleToAssigned {
    font-size: 18px !important;
}

.titleToAssigned p {
    margin-top: 20px !important;

}

.dateToButtons {
    font-size: 18px !important;

}

.dateToButtons p {
    margin-top: 40px !important;

}

.title input {
    font-size: 14px !important;
}

.description textarea {
    height: 50px !important;
    font-size: 14px !important;

}

.dropdown {
    font-size: 14px !important;
}

.borderLine {
    height: 500px !important;
}

.dueDate p {
    margin-top: 20px !important;
}

.dueDate input {
    height: 4px !important;
    font-size: 14px !important;

}

.inputSubtask {
    font-size: 14px !important;
}

.addTask {
    padding-left: 40px !important;
}

.inputFieldSubtask {
    font-size: 14px !important;

}