body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
}

.d-none {
    display: none !important;
}


.darker {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 4;

    background: rgba(0, 0, 0, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;
}


.addTaskMobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.openTask {
    background-color: #FFFFFF;
    z-index: 5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    min-width: 33%;
}

.openTaskCategory {
    display: flex;
    justify-content: center;
    align-items: center;
}

.openTask h2 {
    font-size: 3rem;
}

#openTaskDesc {
    margin-top: -20px;
}

.addNewTask {
    background-color: #FFFFFF;
    z-index: 5;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    padding: 24px;
    height: 90%;
    overflow-y: scroll;
}

.addNewTask::-webkit-scrollbar {
    display: d-none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.headlineAddTasks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    padding-top: 33px;
    padding-right: 30px;
}

.headlineAddTasks h1 {
    font-weight: 700;
    font-size: 61px;
}

.inputAndButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headlineAddTasks input {
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    padding: 14px 9px;
    gap: 10px;
    margin-right: 15px;
    background: url(../assets/img/board_img/magnifying-glass.png) no-repeat scroll 160px 12px;

}

.headlineAddTasks button {

    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 1px 10px;
    gap: 10px;
    cursor: pointer;
}

.headlineAddTasks button:hover {
    background-color: #3e4e64;
    border: 1px solid #3e4e64;
}

.taskSection {
    display: flex;
    justify-content: flex-start;
    width: 90%;
}

.tasks {
    margin-right: 26px;
    width: 25%;
    height: 100%;

}


#plus {
    padding: 5px;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: 20px;
}

.taskBoxes {
    position: relative;
    z-index: 1;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
    cursor: pointer;
}

.popup_to_move_task_mobile {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 30px;
}

.popup_to_move_task_mobile_selections {
    height: 80%;
    width: 60%;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.2);


}

.popup_to_move_task_mobile_selections div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.popup_to_move_task_mobile_selections span {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 10px;
    box-sizing: border-box;
}

.singleTask {
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.category1 {
    border-radius: 8px;
    position: relative;
    margin-top: 24px;
    width: 60%;
    box-sizing: border-box;
    padding: 4px 12px;
    color: white;
    margin-left: 20px;
}

.category2 {
    border-radius: 8px;
    position: relative;
    margin-top: 50px;
    width: 40%;
    box-sizing: border-box;
    padding: 4px 12px;
    color: white;
}

.taskHeadline {
    font-size: 16px;
    line-height: 120%;
    font-weight: 700;
    font-style: normal;
    margin-left: 24px;
    margin-top: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 12px;
}

.taskDescription {
    color: #a8a8a8;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-left: 24px;
    margin-top: 24px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-right: 12px;
}

.circleAndName {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

.personsName {
    padding-left: 24px;
}

.peopleInvolvedPriority {

    margin-top: 24px;

}

#prioOpenTask {
    display: flex;
    align-items: center;
}

.peopleInvolved {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 27px;

}

.people {
    width: 35px;
    height: 35px;
    border-radius: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: -8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.alignPeople {
    display: flex;
}

.openTaskCategory {
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 4px 24px;

}

.openTaskKicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
}

#close {
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#edit-btn {
    text-align: right;
    width: 100%;
    cursor: pointer;
}

.dragArea {
    min-height: 350px;
}

.dragAreaHighlight {
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

#editheadline::placeholder {
    color: black;
    opacity: 1;
}

.editHeadlineClose {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bgUrgent {
    color: white;
    background: #FF1300;
    border-radius: 10px;
    padding: 5px;
}

.bgMedium {
    color: white;
    background: #FFA300;
    border-radius: 10px;
    padding: 5px;
}

.bgLow {
    color: white;
    background: #49E500;
    border-radius: 10px;
    padding: 5px;
}

/*#content {
    overflow-y: unset !important;
    position: unset !important;
    width: unset !important;


    
}*/


/* category colors */

/*.Design {
    background-color: #FF7A00;
}

.Marketing {
    background-color: #0038FF;
}

.Sales {
    background-color: #FC71FF;

}

.Backoffice {
    background-color: #1FD7C1;
}

.Media {
    background-color: #FFC701;
}*/

/* category colors end */

.exitBtn {
    margin-right: 40px;
    text-align: right;
}

.ok-btn {
    display: flex;
    margin-top: 12px;
    cursor: pointer;
    border: 1px solid #2A3647;
    border-radius: 10px;
    background: #2A3647;
    color: #FFFFFF;
}

#addButton {
    margin-left: 10px;

}

.buttonAndText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toBeReplaced p {
    margin: 2px;
}

.noScroll {
    overflow: hidden;
}

.header_headline_responsive {
    display: none;
}

/**
*
* Media Querys
*
*/


@media (max-width: 1400px) {
    .status {
        font-size: 15px;
    }
}

@media (max-width: 1060px) {
    .container {
        margin-top: 90px;
    }

    .header_headline_responsive {
        text-align: left;
        display: inline;
        width: 90%;
    }

    .headlineAddTasks {
        padding-top: 0px;
        margin-top: -15px;
    }

    .addNewTask {
        justify-content: unset;
        height: 80%;
        overflow-y: scroll;
    }

}


@media (max-width: 1250px) {
    .status {
        font-size: 12.5px;
    }


}

@media (max-width: 770px) {
    .container {
        margin-top: 95px;
    }

    .header_headline_responsive {
        width: 82%;
    }

    .headlineAddTasks {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 75%;
    }

    .headlineAddTasks h1 {
        font-size: 47px;
    }


    #toBeReplaced {
        display: none;
    }

    #addButton {
        margin: 12px 2px;

    }

    .taskSection {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-bottom: 100px;
    }

    .tasks {
        margin-right: 26px;
        width: 100%;
        margin-top: 24px;

    }

    .dragArea {
        min-height: 30vh;
    }


    .openTask {
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        height: 100%;
        padding-left: 24px;
        padding-right: 24px;
        justify-content: flex-start;
        overflow-y: scroll;
    }

    .circleAndName {
        margin-bottom: 0px;
    }

    .ok-btn {
        margin-bottom: 24px;
    }

}


/*
*
* End Media Querys
*
*/

/* Progress Bar */

.progressbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 24px;
    font-size: 12px;
    font-weight: 400;
    min-height: 15px;
}

.progressbar-grey {
    width: 50%;
    height: 8px;
    background-color: rgb(184, 170, 170);
    border-radius: 2px;
    margin-right: 11px;
    margin-left: 24px;
    border-radius: 20px;
}

.progressbar-blue {
    height: 100%;
    background-color: rgb(75, 163, 192);
    border-radius: 20px;
}

.progressText {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}

#done-counter {
    box-sizing: border-box;
    margin-right: 12px;
}


/*
*
* Add Tasks modified CSS
*
*/

/* .prioButtons {
    justify-content: space-between !important;
}

.dueDate input {
    box-sizing: border-box;
    height: 51px !important;
    width: 100% !important;
}

.description textarea {
    width: 100% !important;
    box-sizing: border-box;
    height: 119px;
}

.title input {
    width: 100% !important;
    box-sizing: border-box;
    height: 51px !important;
} */



.showAllCategorys {
    width: 100% !important;
}

.clearAndCreate {
    position: unset !important;
    top: unset !important;
    right: unset !important;
    padding-top: 12px;
    padding-bottom: 12px;
}

.addTaskContainer {
    flex-direction: column;
    padding-bottom: unset !important;
}

/*

    padding-bottom: 0px !important;
}

.addTaskContainer h1 {
    font-size: 45px !important;
    padding-left: 40px !important;
    margin-bottom: 0px !important;
}

.titleToAssigned {
    font-size: 18px !important;
}

.dateToButtons {
    font-size: 18px !important;

}

.title input {
    font-size: 14px !important;
}



.description textarea {
    height: 50px !important;
    font-size: 14px !important;

}

.dropdown {
    font-size: 14px !important;
    background-position: calc(100% - 20px) calc(1em + 6px), calc(100% - 15px) calc(1em + 6px), calc(100% - 2.5em) 0.5em !important;
}


.dueDate p {
    margin-top: 20px !important;
}

.dueDate input {
    height: 4px !important;
    font-size: 14px !important;

}

.inputSubtask {
    font-size: 14px !important;
}

.addTask {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.inputFieldSubtask {
    font-size: 14px !important;

}

*/