body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
}

.container {
    padding-left: 123px;
    padding-top: 82px;
    padding-left: 60px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    box-sizing: border-box;
}

.headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;

}

.headline h1 {
    font-weight: 700;
    font-size: 61px;
}

h2 {
    font-size: 40px;
}

p {
    width: 80%;
    
}

.legalText {
    padding-bottom: 100px;
}