body{
    font-family: 'Inter';
    margin: 0;
}

.container{
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.container-login{
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 35px;
width: 38%;
padding: 20px;
background: #FFFFFF;
box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
border-radius: 30px;
margin-top: 37px;
}

.container-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.container-login h1{
    margin: 0;
    font-family: 'Inter';
    font-size: 61px;
    text-align: center;
}

.underline-login{   
width: 150px;
height: 0px;
border: 2px solid #29ABE2;

}

.container-input{
    display: flex;
    flex-direction: column;
    gap: 49px;
    width: 75%;   
}

#loginEmail {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: url(/assets/img/login-img/letter.png) no-repeat;
    background-position: 97%;
}

#loginPassword {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    background: url(/assets/img/login-img/safe.png) no-repeat;
    background-position: 97%;  
}

#loginPassword img{
    cursor: pointer;
}

.container-remember{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 21px;
    gap: 20px;
}

.container-remember p{
    cursor: pointer;
    margin: 0px;
    color: #29ABE2;
}

.container-button{
    display: flex;
    justify-content: space-around
}

.login-button{
    cursor: pointer;
    padding: 13px 40px 13px 40px;
    border: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    background: #2A3647;
    border-radius: 8px;
}

.guest-button{
    cursor: pointer;
    padding: 13px 20px 13px 20px;
    border: 0.5px solid #2A3647;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    background: #FFFFFF;
    border-radius: 8px;
}

.login-button:hover{
    transition: 0.2s;
    background: #29ABE2;
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.guest-button:hover {
    transition: 0.2s;
    color: #29ABE2;
    border: 0.5px solid #29ABE2;
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-signup{
    position: absolute;
    right: 130px;
    top: 83px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.button-signup p {
    margin: 0px;
}

.button-signup button{
    cursor: pointer;
    padding: 13px 10px 13px 10px;
    border: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    background: #2A3647;
    border-radius: 8px;
}

.button-signup button:hover{
    transition: 0.2s;
    background: #29ABE2;
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

/* CSS FOR SIGN UP SCREEN */
.container-signup {
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signup-headline {
    margin: 0;
    font-family: 'Inter';
    font-size: 61px;
    text-align: center;
}

.container-up-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 90%;
}


.container-input-signup{
    display: flex;
    flex-direction: column;
    gap: 49px;
    width: 75%;
    align-items: center;
}

.signup-logo {
    position: absolute;
    left: 70px;
    top: 85px;
}

@-webkit-keyframes zoom {
    0%   {transform: scale(10);}
    100% {transform: scale(1); }
}

.login-logo {
    position: absolute;
    left: 70px;
    top: 85px;
    -webkit-animation: zoom 2s 1;
}


#signupEmail, #signupPassword, #signupName  {
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 75%;
    background: url(/assets/img/login-img/letter.png) no-repeat;
    background-position: 97%;
}

#signupPassword  {
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 75%;
    background: url(/assets/img/login-img/safe.png) no-repeat;
    background-position: 97%;
}

#signupName  {
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 75%;
    background: url(/assets/img/login-img/name.png) no-repeat;
    background-position: 97%;
}



.container-button-signup{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.container-signup-middle {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 35px;
width: 652px;
background: #FFFFFF;
box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
border-radius: 30px;
}

.go-back{
    cursor: pointer;


}

.go-back-signup{

    position: relative;
    left: 5%;
    top: 40px;
    width: 100%;
}


.d-none{
    display: none;
}


/******************CONTAINER FOR FORGOTTEN PASSWORD */

.container-signup-middle-forgot {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 35px;
width: 830px;
background: #FFFFFF;
box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
border-radius: 30px;
}

.go-back-forgot-container{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    position: relative;
    top: 10%;
}

.forgot-headline{
    margin: 0;
    font-family: 'Inter';
    font-size: 61px;
    text-align: center;
}

.container-input-forgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    width: 75%;
}

.forgot-text{
    width: 80%;
    text-align: center;
}

#forgotEmail{
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 65%;
    background: url(/assets/img/login-img/letter.png) no-repeat;
    background-position: 97%;
}

.forgot-button{
    cursor: pointer;
    padding: 13px 40px 13px 40px;
    border: #2A3647;
    color: #FFFFFF;
    font-size: 21px;
    font-weight: 700;
    background: #2A3647;
    border-radius: 8px;
}

.forgot-button:hover{
    transition: 0.2s;
    background: #29ABE2;
    transform: scale(1.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

/* CSS FOR RESET PASSWORD SCREEN */


.container-reset{
    height: 100vh;
    background: #f5f5f5;
    
}

.container-signup-reset{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.container-up-reset{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-up-reset h1{
    font-size: 60px;
    margin: 10px;
    text-align: center;
    width: 90%;
}

.container-up-reset p{
    font-size: 20px;
    text-align: center;
}

.container-input-reset{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 49px;
    width: 65%;
}

#newPassword, #confirmPassword{
    width: 80%;
    font-family: 'Inter';
    font-size: 20px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
}

.container-signup-middle-reset {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: #FFFFFF;
box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
border-radius: 30px;
width: 830px;
}

.go-back-reset-container{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    position: relative;
    top: 27px;
}

.go-back-reset{
    cursor: pointer;
    width: 24px;
    height: 24px;
    
}

/****** LIGHTBOX ******/

.lightbox{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 5;

}

.lightbox-reset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lightbox-email{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.lightbox-email p{
    color: #FFFFFF;
    background: #2A3647;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 16px 30px 16px 30px;
    font-weight: 400;
    font-size: 23px;
    display: flex;
    align-items: center;
    gap: 13px;
    animation: hide 2s linear;
   animation-fill-mode: forwards;
}

@keyframes hide {
    100% {
      display: block;
      opacity: 1;

      bottom: 95%;
    }
    99% {
      display: block;
      
    }
    
    0% {
      display: none;
      opacity: 0;
      position: absolute;
      bottom: 0%;
    }
  }

.index{
    z-index: -1;
}


.lightbox-reset p{
    color: #FFFFFF;
    background: #2A3647;
    border-radius: 20px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 23px 30px 23px 30px;
    font-weight: 400;
    font-size: 23px;
    animation: hide 2s linear;
    animation-fill-mode: forwards;
}


@media only screen and (max-width: 1300px) {

    .forgot-headline{
        font-size: 50px;
        width: 80%;
    }

    .go-back-forgot-container{
        top: 6%;
    }
    
}

@media only screen and (max-width: 1100px) {

    .login-button{
        padding: 13px 20px 13px 20px;
    }

    .guest-button{
        padding: 13px 20px 13px 20px;
    }
    
    .container-signup-middle{
        width: 55%;
    }
}


@media only screen and (max-width: 960px) {

    .container-signup-middle-reset{
        width: 90%;
    }


    .container-signup-middle-forgot{
        width: 90%;
    }

    .container-signup-middle{
        width: 90%;
    }

    .button-signup{
        position: unset;

    }

    .container {
        flex-direction: column;
        gap: 26px;
    }

    .container-button{
        flex-direction: column;
        gap: 21px;
        padding-top: 20px;
    }

    .container-input{
        align-items: center;
        width: 75%;
    }

    .container-remember{
        flex-direction: column;
    }

    .container-login{
        margin-top: 110px;
        width: 77%;
    }

    .container-signup-middle-reset{
        margin-top: 110px;
    }

    .signup-logo{
        left: 30px;
        top: 50px;
        height: 90px;
    }

    .login-logo{
        display: flex;
        justify-content: flex-start;
        height: 90px;
        position: unset;

    }

    #forgotEmail{
        width: 100%;
    }

}

@media only screen and (max-width: 650px){

    .forgot-headline{
        font-size: 48px;
    }

    .container-signup-middle-forgot{
        width: 90%;
    }

    .container-up-reset h1{
        margin-top: 30px;
        font-size: 48px;
    }

    #newPassword{
        width: 100%;
    }

    #confirmPassword{
        width: 100%;
    }

}


@media only screen and (max-width: 400px){

    .forgot-button{
        padding: 13px 20px 13px 10px;
    }

    #forgotEmail{
        width: 120%;
        font-size: 16px;
    }

    #newPassword{
        width: 120%;
    }

    #confirmPassword{
        width: 120%;
    }


}

@media only screen and (max-width: 350px) {


    .forgot-headline{
        font-size: 38px;
    }

    .container-up-reset h1{
        font-size: 38px;
    }

    .container-login h1{
        font-size: 38px;
    }

    .signup-headline{
        font-size: 38px;
    }

    .login-button{
        padding: 13px 28px 13px 28px;
    }

    .guest-button{
        padding: 13px 2px 13px 2px;
    }

    .container-remember p{
        font-size: 14px;
    }

    .forgot-button{
        font-weight: 100;
        font-size: 18px;
    }



}