.body-contact {
  margin: 0;
  background: #f6f7f8;
  font-family: "Inter";
  display: block;
}

.container {
  display: flex;
  padding-left: 280px;
}

.container-left {
  overflow: overlay;
  position: absolute;
  width: 453px;
  height: 100%;
  max-height: 90vh;
  left: 232px;
  top: 89px;
  background: #ffffff;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.container-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 357px;
  height: 1072px;
  left: 48px;
  top: 2px;
  background: #ffffff;
}

.first-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  width: 333px;
  height: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.first-letter p {
  margin: 0;
  width: 282px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.between-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 347px;
  height: 28px;
  order: 1;
  flex-grow: 0;
}

.between-line p {
  width: 323px;
  height: 0px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.beginner-letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #ff7a00;
}

.beginner-letter p {
  height: 10px;
  left: 7px;
  top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 25px;
  gap: 35px;
  width: 357px;
  height: 79px;
  background: white;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact:hover {
  background-color: #2a3647;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

.contact-name {
  margin: 0;
  font-size: 21px;
  font-weight: 400;
}

.contact-email {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #29abe2;
  padding-top: 5px;
}

/**********RIGHT CONTAINER************/

.headline {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 30px;

  position: absolute;
  width: 600px;
  height: 73px;
  left: 743px;
  top: 171px;
}

.headline h1 {
  width: 274px;
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline div {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.headline h3 {
  margin: 0;
  width: 250px;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  color: #2a3647;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
  position: absolute;
  width: 461px;
  height: 364px;
  left: 750px;
  top: 326px;
}

.contact-information-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 54px;
  width: 461px;
  height: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 120px;
  height: 120px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-icon-bg {
  position: absolute;
  width: 120px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #ff7a00;
  border-radius: 60px;
}

.contact-icon-bg div {
  position: absolute;
  width: 80px;
  height: 28.57px;
  left: 20px;
  top: 45.71px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.add-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  width: 287px;
  height: 88px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-task-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 287px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-task-name div {
  width: 287px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-task-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 13px;
  width: 128px;
  height: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-task-btn-plus {
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-task-btn-hori {
  width: 0px;
  height: 15px;
  left: 15px;
  top: 9.64px;
  border: 2px solid #29abe2;
  transform: rotate(90deg);
}

.add-task-btn-vert {
  position: relative;
  width: 0px;
  height: 15px;
  top: -19px;
  border: 2px solid #29ABE2;
}

.add-task-btn-text{
  width: 100px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #29ABE2;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-middle{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 59px;
width: 392.85px;
height: 74px;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-text{
  width: 207px;
height: 74px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.edit-container{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 6px;
width: 126.85px;
height: 29.34px;
flex: none;
order: 1;
flex-grow: 0;
}

.edit-container-left{
  width: 5.64px;
height: 30.9px;
transform: matrix(-0.85, -0.52, -0.52, 0.85, 0, 0);
flex: none;
order: 0;
flex-grow: 0
}

.edit-v7{
width: 5.64px;
height: 6.41px;
left: 7.11px;
top: 25.58px;
background: #2A3647;
transform: matrix(-0.85, -0.52, -0.52, 0.85, 0, 0);
}

.edit-v6{
width: 5.64px;
height: 25.37px;
left: 20.85px;
top: 2.92px;
background: #2A3647;
}

.contact-information-down{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 22px;
width: 140px;
height: 128px;
flex: none;
order: 2;
flex-grow: 0;
}

.contact-information-fr102{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 140px;
height: 53px;
flex: none;
order: 0;
flex-grow: 0;
}

.contact-information-fr102-email{
  width: 43px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
}

.contact-information-fr102-text{
  width: 140px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #007CEE;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-fr103{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 124px;
height: 53px;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-fr103-phone{
  width: 50px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.contact-information-fr103-number{
  width: 124px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}

.add-contact-btn{
  cursor: pointer;
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 10px;
gap: 10px;
position: absolute;
width: 193px;
height: 53px;
right: 50px;
top: 780px;
background: #2A3647;
border: 1px solid #2A3647;
border-radius: 10px;
}

.add-contact-text{
  width: 130px;
height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.add-contact-design1{
  position: absolute;
left: 87.36%;
right: 5.18%;
top: 50.85%;
bottom: 21.98%;
background: #FFFFFF;
}

.add-contact-design2{
  position: absolute;
left: 77.72%;
right: 11.92%;
top: 54.25%;
bottom: 21.98%;
background: #FFFFFF;
}

.add-contact-design3{
  position: absolute;
left: 80.13%;
right: 11.48%;
top: 21.98%;
bottom: 47.45%;
background: #FFFFFF;
}


/******ADD CONTACT FORM*******/

.lightbox-add-contact{
  position: absolute;
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container{
  display: flex;
  width: 84%;
  height: 60%;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.lightbox-container-left{
  background-color: #2A3647;
  width: 600px;
  min-width: 300px;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-left: 30px;
  padding-left: 30px;
}

.lightbox-container-left h1{
  margin: 6px 0 6px 0;
  font-weight: 700;
  font-size: 46px;
}

.lightbox-container-left p{
  margin: 6px 0 8px 0;
  font-weight: 400;
  font-size: 20px;
}

.underline{
  border: 2px solid #29ABE2;
  width: 64px;
  height: 0;
}

.lightbox-container-right{
  display: flex;
}

.lightbox-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 300px;
}

.lightbox-img div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: gray
}

.lightbox-input-pos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 600px;
}

.lightbox-input-pos input{
  height: 50px;
  width: 500px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  border: 0.5px solid #d1d1d1;
}

.lightbox-input-pos-close{
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 145px;
  top: 220px;
}

.lightbox-btn{
  display: flex;
  gap: 20px;
}

.lightbox-btn-left{
  cursor: pointer;
  height: 50px;
  width: 160px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 0.5px solid #2a3647;
  font-size: 18px;
}

.lightbox-btn-left:hover {
  border: 0.5px solid #29ABE2;
  color: #29ABE2;
}

.lightbox-btn-right{
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  width: 240px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #2A3647;
  border:#2A3647;
  font-size: 18px;
}

.lightbox-btn-right:hover{
  background-color: #29ABE2;
}

.d-none{
  display: none;
}