.body-contact {
  margin: 0;
  background: #f6f7f8;
  font-family: "Inter";
  display: block;
}

.container {
  display: flex;
}

.container-left {
  min-width: 350px;
  max-height: 100vh;
  left: 232px;
  top: 89px;
  background: #FFFFFF;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
  overflow: scroll;
}

.container-position {
  min-width: 300px;
  max-width: 453px;
  background: #FFFFFF;
  box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.letterbox{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  min-width: 280px;
  max-width: 357px;
}

.first-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  min-width: 280px;
  max-width: 357px;
  height: 60px;
  
}

.first-letter p {
  min-width: 280px;
  max-width: 282px;
  height: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  position: relative;
  right: -10px;
}

.between-line {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 80%;
  min-width: 300px;
  max-width: 347px;
  height: 28px;
  order: 1;
  flex-grow: 0;
}

.between-line p {
  min-width: 290px;
  max-width: 323px;
 max-width: 323px;
  height: 0px;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.beginner-letter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px; 
  width: 42px;
  height: 42px; 
  background: #FF7A00;
  border-radius: 45px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact p {
  position: relative;
  left: 8px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  
}


.contact {
  min-width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  height: 79px;
  background: white;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact:hover {
  background-color: #2a3647;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
}

.contact-name-div {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
max-width: 250px;
height: 49px;
}

.contact-name {
  margin: 0;
  font-size: 21px;
  font-weight: 400;
}

.contact-email {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #29abe2;
  padding-top: 5px;
}

/**********RIGHT CONTAINER************/

.container-right{
  padding-left: 58px;
  padding-top: 82px;
}

.headline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 82px;
  gap: 30px;
  height: 73px;
  left: 10px;
  top: 10px;
}

.headline h1 {
  height: 73px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline div {
  width: 0px;
  height: 59px;
  border: 3px solid #29abe2;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.headline h3 {
  margin: 0;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 120%;
  color: #2a3647;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.contact-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 21px;
  height: 364px;
}

.contact-information-up {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 54px;
  height: 120px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 120px;
  height: 120px;
  background: #ffffff;
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 70px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.contact-icon-bg {
  width: 120px;
  height: 120px;
  left: 0px;
  top: 0px;
  background: #ff7a00;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon-bg div {
  width: 60px;
  left: 20px;
  top: 45.71px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 47px;
  color: #ffffff;
  display: contents;
}

.add-task {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  height: 88px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-task-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  height: 56px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-task-name div {
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.add-task-btn {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 13px;
  width: 128px;
  height: 19px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.add-task-btn-plus {
  height: 18px;
  flex: none;
  order: 0;
  flex-grow: 0;
}



.add-task-btn-text{
  width: 100px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #29ABE2;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-middle{
  display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 59px;
width: 392.85px;
height: 74px;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-text{
  width: 207px;
height: 74px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.edit-contact {
  width: 100px;
  height: 19px;
}

.edit-container{
  cursor: pointer;
  display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-end;
padding: 0px;
gap: 6px;
width: 126.85px;
height: 29.34px;
flex: none;
order: 1;
flex-grow: 0;
}

.edit-container-left{
  display: flex;
}



.contact-information-down{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 22px;
width: 140px;
height: 128px;
flex: none;
order: 2;
flex-grow: 0;
}

.contact-information-fr102{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 140px;
height: 53px;
flex: none;
order: 0;
flex-grow: 0;
}

.contact-information-fr102-email{
  width: 43px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
}

.contact-information-fr102-text{
  width: 140px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #007CEE;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-fr103{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 15px;
width: 124px;
height: 53px;
flex: none;
order: 1;
flex-grow: 0;
}

.contact-information-fr103-phone{
  width: 50px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 0;
flex-grow: 0;
}

.contact-information-fr103-number{
  width: 124px;
height: 19px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
display: flex;
align-items: center;
color: #000000;
flex: none;
order: 1;
flex-grow: 0;
}

.add-contact-btn{
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 10px;
gap: 10px;
width: 193px;
height: 53px;
right: 50px;
top: 824px;
background: #2A3647;
border: 1px solid #2A3647;
border-radius: 10px;
}

.add-contact-btn:hover{
  transition: 0.2s;
  background: #29ABE2;
  transform: scale(1.01);
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.add-contact-text{
  width: 130px;
height: 25px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 21px;
line-height: 120%;
color: #FFFFFF;
flex: none;
order: 0;
flex-grow: 0;
}

.add-contact-design1{
  position: absolute;
left: 87.36%;
right: 5.18%;
top: 50.85%;
bottom: 21.98%;
background: #FFFFFF;
}

.add-contact-design2{
  position: absolute;
left: 77.72%;
right: 11.92%;
top: 54.25%;
bottom: 21.98%;
background: #FFFFFF;
}

.add-contact-design3{
  position: absolute;
left: 80.13%;
right: 11.48%;
top: 21.98%;
bottom: 47.45%;
background: #FFFFFF;
}


/******ADD CONTACT FORM*******/

.lightbox-edit-contact{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-add-contact{
  position: absolute;
  top: 0;
  right: 0;;
  left: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.38);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-container{
  display: flex;
  max-width: 90%;
  height: 60%;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.lightbox-container-left{
  background-color: #2A3647;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  width: 300px;
}

.lightbox-container-left img{
  width: 55px;
  height: 66px;
}

.lightbox-container-left h1{
  margin: 6px 0 6px 0;
  font-weight: 700;
  font-size: 46px;
}

.lightbox-container-left p{
  margin: 6px 0 8px 0;
  font-weight: 400;
  font-size: 20px;
}

.underline{
  border: 2px solid #29ABE2;
  width: 64px;
  height: 0;
}

.lightbox-container-right{
  display: flex;
  width: 60%;
  padding-right: 50px;
  align-items: center;
}

.lightbox-img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightbox-img-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.lightbox-img-edit div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  border: 3px solid #FFFFFF ;
}

.lightbox-img div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: gray;
  border: 3px solid #FFFFFF ;
}

.lightbox-input-pos {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.lightbox-input-pos input{
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  height: 50px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  border: 0.5px solid #d1d1d1;
  padding: 0;
}

.lightbox-input-pos-close{
  cursor: pointer;
  font-size: 24px;
display: flex;
justify-content: flex-end;
position: relative;
bottom: 50px;
}

.lightbox-input-pos-close-form{
  font-weight: bold;
}

.lightbox-btn{
  display: flex;
  gap: 20px;
}

.lightbox-btn-left{
  cursor: pointer;
  height: 50px;
  width: 35%;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 0.5px solid #2a3647;
  font-size: 18px;
  margin-top: 30px;
}

.lightbox-btn-left:hover {
  transition: 0.2s;
  color: #29ABE2;
  border: 0.5px solid #29ABE2;
  transform: scale(1.01);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.lightbox-btn-right{
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  width: 185px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #2A3647;
  border:#2A3647;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.lightbox-btn-right:hover{
  transition: 0.2s;
  background: #29ABE2;
  transform: scale(1.01);
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}

.lightbox-btn-right-edit{
cursor: pointer;
font-weight: 700;
height: 50px;
width: 172px;
border-radius: 10px;
color: #FFFFFF;
background-color: #2A3647;
border: #2A3647;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
margin-top: 30px;
}

.lightbox-btn-edit{
  display: flex;
  justify-content: center;
}

.lightbox-btn-right-edit:hover{
  transition: 0.2s;
  background: #29ABE2;
  transform: scale(1.01);
  border: 1px solid #29abe2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
}



.lightbox-btn-left img{
  padding-bottom: 2px;
}



/*DESIGN SCROLLBAR*/
.container-left::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
.container-left::-webkit-scrollbar-thumb {
  background: #ABABAB; 
  border-radius: 6px;
}

/* MOBILE DESIGN */

.add-contact-btn-mobile{

  cursor: pointer;
  box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18px 10px;
gap: 10px;
width: 193px;
height: 53px;
right: 50px;
top: 824px;
background: #2A3647;
border: 1px solid #2A3647;
border-radius: 10px;
}

.add-contact-text-mobile{
  width: 130px;
  height: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.lightbox-mobile-contact{
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.header_headline{
  display: block;
}

.d-none{
  display: none;
}

@media only screen and (max-width: 1330px) {
 
  .headline h1 {
    font-size: 32px;
  }

  .headline h3 {
    font-size: 20px;
  }

  .lightbox-container-left h1{
    font-size: 36px;
  }

  .lightbox-container-left p{
    font-size: 16px;
  }

  .add-task-name div{
    font-size: 26px;
  }

}

@media only screen and (max-width: 1200px) {

  .lightbox-btn-right {
    font-weight: 100;
  }

  .lightbox-container-left {
    padding-right: 0;
  }

}


@media only screen and (max-width: 1060px) {
  
  .header{
    position: fixed;
    z-index: 2;
  }

  .container-left{
    min-width: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: unset;
  }

  .container{
    flex-direction: column;
  }

  .container-mobile-btn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 79px;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 1;
  }

  .add-contact-btn-mobile{
    margin: 16px;
    display: flex;
  }

  .mobile-edit-btn{

  }

  .container-right {
    display: none;
  }

  .header_headline{
    display: none;
  }

  .headline{
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding-top: 35px;
    height: auto;
  }

  .mobile-headline{
    display: flex;

  }

  .mobile-back{
    display: flex;
    align-items: center;
  }

  .mobile-back img{
    cursor: pointer;
    height: 24px;
    width: 24px;
    position: relative;
    bottom: 20%;
    left: 10%;
  }

  .edit-container{
    display: none;
  }

  .contact-information {
    gap: 0;
    position: relative;
    right: 5%;
  }

  .contact-information-middle{
    width: auto;
  }

  .add-task{
    gap: 8px;
    justify-content: center;
  }

  .add-task-name{
    height: auto;
  }

  .add-task-name div{
    height: auto;
    font-size: 36px;
  }

  .contact-icon{
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .contact-icon-bg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .contact-information-up{
    gap: 18px;
    height: auto;
  }

  .headline p {
    margin: 0;
  }

  .headline h1{
    height: auto;
    margin: 0;
    font-size: 47px;
  }

  .headline div {
    height: 0;
    width: 90px;
  }

 

  .container-position {
    max-width: none;
    height: -webkit-fill-available;
  }

  .add-contact-btn-mob {
    top: 774px;
  }

  .container-position{
    box-shadow: none;
    padding-bottom: 80px;
    padding-top: 164px;
  }

  .letterbox {
    align-items: flex-start;
  }

  .contact {
    width: 100%;
  }

  .add-contact-btn{
    display: block;
    position: absolute;
  }

  .edit-contact-mobile{
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  gap: 10px;
  width: auto;
  height: 50px;
  right: 20px;
  top: 700px;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
  }

  .lightbox-add-contact{
    position: fixed;
    z-index: 3;
  }

  .lightbox-edit-contact{
    top: -80px;
  }

  .lightbox-container{
    flex-direction: column;
    align-items: center;
    height: 82%;
  }

  .lightbox-container-left{
    padding: 0;
    width: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    align-items: center;
  }

  .lightbox-container-right{
    flex-direction: column;
    padding: 0;
  }

  .lightbox-container-left img {
    display: none;
  }

  .lightbox-img{
    position: relative;
    bottom: 80px;
  }

  .lightbox-img div{
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }

  .lightbox-btn-left{
    display: none;
  }

  .lightbox-btn {
    justify-content: center;
  }

  .contact-close-mobile{
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .lightbox-input-pos-close-mobile{
    font-size: 24px;
    padding-right: 26px;
    position: relative;
    bottom: 70px;
    cursor: pointer;
  }

  .lightbox-input-pos{
    padding-bottom: 48px;
  }

  .lightbox-input-pos-close{
    display: none;
  }
}

@media only screen and (max-width: 500px){

  .lightbox-add-contact{
    position: fixed;
  }

  .lightbox-container{
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .lightbox-container-left{
    border-top-left-radius: 0px; 
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 46%;
  }

}


@media only screen and (max-width: 420px) {


  .lightbox-input-pos input{
    height: 41px;
  }

  .letterbox{
    min-width: 0;
  }

  .lightbox-btn-right{
    font-size: 16px;
    gap: 2px;
  }

  .container-position{
    min-width: 0;
  }

  .between-line {
    min-width: 0;
    width: 100%;
  }

  .between-line p{
    min-width: 0;
    width: 100%;
  }

  .lightbox-container-left h1 {
    font-size: 36px;
  }

  .lightbox-container-left p {
    font-size: 16px;
  }

  .contact-name {
    font-size: 16px;
  }

}

