body {
    margin: 0;
    background: #F6F7F8;
    font-family: 'Inter';
}

.container {
    height: 100vh;
    width: 100%;
    padding-top: 150px;
    padding-left: 250px;
}

.first-letter {
    font-size: 21px;
    width: 357px;
    height: 60px;
    padding-left: 37.5px;
    display: flex;
    align-items: center;
}

.first-letter p {
    margin: 0;
    
}

.between-line {
    width: 347px;    
}

.between-line p {
    margin: 0;
    margin: 14px 12px 14px 12px;
    border-bottom: solid 1px #D1D1D1;
    width: 326px;
}

.beginner-letter{
    height: 42px;
    width: 42px;
    border-radius: 21px;
    background-color:#FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beginner-letter p{
    font-size: 12px;
    color: #FFFFFF;
}

.contact {
    padding: 15px 25px 15px 25px;
    height: 79px;
    width: 357px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.contact-name{
    margin: 0;
    font-size: 21px;
    font-weight: 400;
}

.contact-email {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    color: #29ABE2;
    padding-top: 5px;
}