.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 935px;
    box-sizing: border-box;
}

.summary_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 123px;
    padding-top: 82px;
    gap: 30px;
    height: 73px;
}

.summary_header div {
    width: 315px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.summary_header span {
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;

    padding-left: 30px;
    height: 59px;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    border-left: 3px solid #29ABE2;
}

.summary_content {
    display: flex;
    height: 540px;
    padding-left: 123px;
    padding-bottom: 153px;
}

.overview {
    width: 580px;
    height: 100%;
}

.board_infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 100%;
    height: 170px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
}

.tasks:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}

.tasks div {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.tasks span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.urgent_date {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 35px;
}

.urgent_date:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
}

.urgent_date:hover div {
    color: white;
}

.urgent_date:hover span {
    color: white;
}

.urgent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.urgent_img img {
    height: 60px;
    width: 60px;
}

.urgent_info {
    text-align: center;
}

.urgent_info_number {
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
}

.urgent_info_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;

}

.upcoming_deadline_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 61px;
    gap: 13px;
    height: 102.02px;
    border-left: 2px solid #D1D1D1;
    color: #2A3647;
}

.date {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.upcoming_deadline {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.to_do_and_done {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.to_do_and_done_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 272.5px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.to_do_and_done_section:hover {
    cursor: pointer;
    background-color: #2A3647;
    ;
    color: white;
}

.to_do_and_done_section:hover span {
    color: white;
}

.to_do_and_done_section:hover #to-do-img {
    background-image: url("../assets/img/summary-img/to-do-hover.svg");
    background-color: white;
    background-color: #2A3647;
    ;
}

.to_do_and_done_section:hover #done-img {
    background-image: url("../assets/img/summary-img/done-hover.svg");
    background-color: white;
    background-color: #2A3647;
    ;
}

.to_do_and_done_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to_do_and_done_content div {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.to_do_and_done_content span {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

#to-do-img {
    height: 69px;
    width: 69px;
    background-image: url("../assets/img/summary-img/to-do.svg");
}

#done-img {
    height: 69px;
    width: 69px;
    background-image: url("../assets/img/summary-img/done.svg");
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 67px;
}

.good_morning {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #2A3647;
}

.account_name {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
}

@media (max-width: 1440px) {
    .welcome {
        display: none;
    }
}

@media (max-width: 1060px) {

    .side_bar {
        overflow: unset;
    }
    
    .summary {
        height: unset;
        box-sizing: unset;
    }

    .summary_header {
        padding-left: unset;
        margin-left: 7.71%;
        width: unset;
    }

    .summary_content {
        height: unset;
        padding-left: unset;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 41px;
        padding-bottom: 100px;
        overflow: hidden;
    }
}

@media (max-width: 760px) {
    .summary_header {
        display: unset;
        padding-left: 0;
        gap: 20px;
        height: unset;
        padding-top: 72.98px;
    }

    .summary_header div {
        width: unset;
        height: unset;
        padding-bottom: 20px;
    }

    .summary_header span {
        display: flex;
        align-items: center;
        height: unset;
        padding-left: 0;
        padding-top: 0;
        border-left: none;
    }
}

@media (max-width: 605px) {
    .summary {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 84.58%;
        margin-left: 7.71%;
        box-sizing: border-box;
        height: unset;
    }

    .summary_header {
        display: unset;
        padding-left: 0;
        gap: 20px;
        width: 100%;
        height: unset;
        padding-top: 72.98px;
        margin-left: unset;
    }

    .summary_header div {
        width: unset;
        height: unset;
        font-weight: 700;
        font-size: 47px;
        line-height: 120%;
        padding-bottom: 20px;
    }

    .summary_header span {
        display: flex;
        align-items: center;
        height: unset;
        padding-left: 0;
        padding-top: 0;
        font-weight: 400;
        font-size: 21px;
        line-height: 120%;
        border-left: none;
    }

    .summary_content {
        height: unset;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 41px;
        margin-bottom: 95px;
    }

    .overview {
        width: 100%;
    }

    .board_infos {
        justify-content: space-between;
        height: unset;
        gap: 15px;
    }

    .tasks {
        height: 110px;
        width: 110px;
        border-radius: 20px;
        padding: 0;
    }

    .tasks div {
        height: unset;
        width: unset;
        font-weight: 600;
        font-size: 47px;
        line-height: 120%;
    }

    .tasks span {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .urgent_date {
        height: 110px;
        gap: 20px;
        background: #FFFFFF;
        border-radius: 20px;
        box-sizing: border-box;
        margin-top: 24px;
    }

    .urgent_date:hover {
        background-color: white;
        color: unset;
    }

    .urgent_date:hover div {
        color: unset;
    }

    .urgent_date:hover span {
        color: unset;
    }

    .urgent {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 18px;
    }

    .urgent_img img {
        height: 40px;
        width: 40px;
    }

    .urgent_info {
        text-align: center;
    }

    .urgent_info_number {
        font-weight: 600;
        font-size: 47px;
        line-height: 120%;
    }

    .urgent_info_description {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #2A3647;

    }

    .upcoming_deadline_info {
        padding-left: 20px;
        gap: 8px;
        height: 68px;
        border-left: 2px solid #D1D1D1;
        color: #2A3647;
    }

    .date {
        font-weight: 700;
        font-size: 16px;
        line-height: 120%;
    }

    .upcoming_deadline {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    .to_do_and_done {
        margin-top: 24px;
    }

    .to_do_and_done_section {
        gap: 10px;
        width: 177.5px;
        height: 110px;
        background: #FFFFFF;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    .to_do_and_done_section:hover {
        background-color: white;
        color: unset;
    }

    .to_do_and_done_section:hover span {
        color: unset;
    }

    #to-do-img {
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
    }

    #done-img {
        background-size: 40px 40px;
        height: 40px;
        width: 40px;
    }

    .to_do_and_done_section:hover #to-do-img {
        background-image: url("../assets/img/summary-img/to-do.svg");
        background-color: white;

    }

    .to_do_and_done_section:hover #done-img {
        background-image: url("../assets/img/summary-img/done.svg");
        background-color: white;

    }

    .to_do_and_done_content div {
        font-size: 47px;
    }

    .to_do_and_done_content span {
        font-size: 14px;
    }

    .welcome {
        display: none;
    }
}