.summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.header_headline_responsive {
    display: none;
}

.summary_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 123px;
    padding-top: 82px;
    gap: 30px;
    height: 73px;
}

.summary_headline {
    width: 315px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
}

.summary_header span {
    display: flex;
    align-items: center;
    flex: none;
    order: 1;
    flex-grow: 0;

    padding-left: 30px;
    height: 59px;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    border-left: 3px solid #29ABE2;
}

.blue_line {
    display: none;
    margin-top: 32px;
    width: 90px;
    height: 3px;
    background-color: #29ABE2;
}

.summary_content {
    display: flex;
    height: 540px;
    padding-top: 87px;
    padding-left: 123px;
    padding-bottom: 40px;
}

.overview {
    width: 580px;
    height: 100%;
}

.board_infos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    width: 100%;
    height: 170px;
}

.tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    gap: 13px;
    width: 170px;
    height: 170px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
}

.tasks:hover {
    background-color: #2A3647;
    cursor: pointer;
    color: white;
}

.tasks div {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.tasks span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.urgent_date {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 61px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 35px;
}

.urgent_date:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
}

.urgent_date:hover div {
    color: white;
}

.urgent_date:hover span {
    color: white;
}

.urgent {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.urgent_img img {
    height: 60px;
    width: 60px;
}

.urgent_info {
    text-align: center;
}

.urgent_info_number {
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
}

.urgent_info_description {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #2A3647;

}

.upcoming_deadline_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 61px;
    gap: 13px;
    height: 102.02px;
    border-left: 2px solid #D1D1D1;
    color: #2A3647;
}

.date {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.upcoming_deadline {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.to_do_and_done {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
}

.to_do_and_done_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18px;
    width: 272.5px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.to_do_and_done_section:hover {
    cursor: pointer;
    background-color: #2A3647;
    color: white;
}

.to_do_and_done_section:hover span {
    color: white;
}

.to_do_and_done_section:hover #to-do-img {
    background-image: url("../assets/img/summary-img/to-do-hover.svg");
    background-color: white;
    background-color: #2A3647;
}

.to_do_and_done_section:hover #done-img {
    background-image: url("../assets/img/summary-img/done-hover.svg");
    background-color: white;
    background-color: #2A3647;
}

.to_do_and_done_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to_do_and_done_content div {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
}

.to_do_and_done_content span {
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

#to-do-img {
    height: 69px;
    width: 69px;
    background-image: url("../assets/img/summary-img/to-do.svg");
}

#done-img {
    height: 69px;
    width: 69px;
    background-image: url("../assets/img/summary-img/done.svg");
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 67px;
}

.good_morning {
    font-weight: 500;
    font-size: 47px;
    line-height: 120%;
    color: #2A3647;
}

.account_name {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
}

@media (max-width: 1439px) {
    .welcome {
        display: none;
    }
}

@media (max-width: 1170px) {

    .side_bar {
        overflow: unset;
    }

    .summary {
        height: unset;
        box-sizing: unset;
    }

    .header_headline_responsive {
        display: unset;
    }

    .summary_header {
        padding-left: unset;
        margin-left: 7.71%;
        width: unset;
        padding-top: 114px;
        display: unset;
        padding-left: 0;
        gap: 20px;
        height: unset;
    }

    .summary_headline{
        padding-top: 19px;
        width: unset;
        height: unset;
        padding-bottom: 20px;
    }

    .summary_header span {
        display: flex;
        align-items: center;
        height: unset;
        padding-left: 0;
        padding-top: 0;
        border-left: none;
    }

    .summary_content {
        height: unset;
        padding-left: unset;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 41px;
        padding-bottom: 100px;
        overflow: hidden;
    }

    .blue_line {
        display: block;
    }
}

@media (max-width: 340px) {
    .urgent{
        gap: 4px;
    }
}