.welcome_responsive {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 935px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F7F8;
    box-sizing: border-box;
}

.good_morning_responsive {
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: #2A3647;
}

.account_name_responsive {
    font-weight: 700;
    font-size: 47px;
    line-height: 120%;
    color: #29ABE2;
}

@media (min-width: 1440px) {
    .welcome_responsive {
        display: none;
    }
}

@media (max-width: 1440px) {
    .hide_welcome {
        transform: scale(0);
        animation: opacity 225ms ease-in-out;
    }

    @keyframes opacity {
        from {
            opacity: 1;
            transform: scale(1);
        }

        to {
            opacity: 0;
            transform: scale(0);
        }
    }
}

@media (max-width: 1060px) {
    .welcome_responsive {
        height: calc(100vh - 160px);
        margin-top: 79.02px;
    }
}