<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/add_task.css">
    <script src="../../js/add_task.js"></script>
    <script src="../../js/templates/add_task_templates.js"></script>
    <script src="../../mini_backend.js"></script>

    <title>add_task</title>

</head>

<body onload="initAddTask()">

    <div class="addTaskContainer">
        <div class="contentContainer">
            <div class="mobile_header_headline d-none">Kanban Project Management Tool</div>
            <h1>Add Task</h1>
            <form id="form" class="formValidation" onsubmit="checkForm(); return false">
                <div class="addTask">
                    <div class="addTaskLeftSide">
                        <div class="titleToAssigned">
                            <div class="title">
                                <p>Title</p>
                                <input minlength="1" type="text" placeholder="Enter a title" id="headline" required>
                            </div>
                            <div class="description">
                                <p>Description</p>
                                <textarea minlength="1" type="text" placeholder="Enter a Description" id="desc"
                                    required></textarea>
                            </div>

                            <div class="category" id="cat"></div>
                            <div class="categoryColors d-none" id="categoryColors"></div>

                            <div class="categoryAssigned" id="assigned"></div>

                        </div>
                    </div>

                    <div class="borderLine"></div>

                    <div class="dateToButtons" id="dateButtons">

                        <div class="dueDate">
                            <p>Due date</p>
                            <input id="dueDate" type="date" required>
                        </div>

                        <div class="prio">
                            <p>Prio</p>
                            <div class="prioButtons" id="prioButtons"></div>
                        </div>

                        <div class="subtasksContent" id="subs"></div>

                        <div class="clearAndCreate">
                            <button type="button" class="clear" onclick="clearFields()">Clear<input class="cross"
                                    type="checkbox"></button>
                            <button class="create"><img src="../../assets/img/add_task_img/hook.png" alt=""></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>

</html>