<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="add_task.css">
    <script src="add_task.js"></script>	

    <title>add_task</title>

</head>

<body>

    <h1>Add Task</h1>

    <div>
        <div>
            <p>Title</p>
            <input type="text" placeholder="Enter a title">
        </div>
        <div>
            <p>Descriptipn</p>
            <input type="text" placeholder="Enter a Description">
        </div>
        <div>
            <p>Category</p>
            <input type="selected" size="10" multiple="multiple">
        </div>
        <div>
            <p>Assigned to</p>
            <input type="text" placeholder="Enter a Description">
        </div>
    </div>
    
</body>
</html>