<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/add_task.css">
    <script src="../../js/add_task.js"></script>

    <title>add_task</title>

</head>

<body>

    <div class="addTaskContainer">
        <h1>Add Task</h1>
        <form action="" id="form">
            <div class="addTask">
                <div class="addTaskLeftSide">
                    <div class="titleToAssigned">
                        <div class="title">
                            <p>Title</p>
                            <input required minlength="1" type="text" placeholder="Enter a title">
                        </div>
                        <div class="description">
                            <p>Descriptipn</p>
                            <textarea required minlength="1" type="text" placeholder="Enter a Description"></textarea>
                        </div>
                        <div class="category">
                            <p>Category</p>
                            <select name="" required>
                                <option value="taskcategory">Select task category</option>
                                <option value="test">test</option>
                                <option value="test2">test2</option>
                                <option value="test3">test3</option>
                            </select>
                        </div>
                        <div class="category">
                            <p>Assigned to</p>
                            <select name="" required>
                                <option value="contactsToAssign">Select contacts to assign</option>
                                <option value="test">test</option>
                                <option value="test2">test2</option>
                                <option value="test3">test3</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="borderLine"></div>

                <div class="dateToButtons">
                    <div class="dueDate">
                        <p>Due date</p>
                        <input type="text" placeholder="dd/mm/yyyy" required>
                    </div>
                    <div class="prio">
                        <p>Prio</p>
                        <div class="prioButtons">
                            <button type="button" class="urgentButton">Urgent <input class="urgent" type="checkbox"></button>
                            <button type="button" class="mediumButton">Medium <input class="medium" type="checkbox"></button>
                            <button type="button" class="lowButton">Low <input class="low" type="checkbox"></button>
                        </div>
                    </div>
                    <div class="subtasks">
                        <p>Subtasks</p>
                        <input required minlength="1" class="inputSubtask" type="text" placeholder="Add new subtask">
                        <div class="checkboxSubtask" required>
                            <input type="checkbox" required>
                            <span>Subtask 1</span>
                        </div>
                    </div>
                    <div class="clearAndCreate">
                        <button type="button" class="clear" onclick="clearFields()">Clear <input class="cross" type="checkbox"></button>
                        <button class="create">Create Task <img src="../../assets/img/add_task_img/hook.png" alt=""></button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>

</html>