<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/board.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <script src="../../js/board.js"></script>

    <title>Board</title>
</head>

<body onload="init()">

    <div class="addNewTask d-none">
        <div w3-include-html="add_task.html"></div>
    </div>
    <div id="openTask" class="openTask d-none">
        <div class="openTaskKicker">
            <div class="openTaskCategory c-design">Design</div>
            <img id="close" onclick="closeOpenTask()" src="../img/board_img/close.svg">
        </div>
        <div>
            <h2>Überschrift</h2>
        </div>
        <div>
            <p id="openTaskDesc">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <p><b>Due Date: </b>Monday</p>
            <p><b>Priority: </b>High</p>
        </div>
        <div>
            <p>Name 1</p>
            <p>Name 2</p>
            <p>Name 3</p>
            <p>Name 4</p>
        </div>
        <div id="edit-btn"><img src="../img/board_img/edit-btn.png"></div>
    </div> 
    <div class="container">
        <div class="headlineAddTasks">
            <h1>Board</h1>
            <div class="inputAndButton">
                <input placeholder="Find Task" src="../img/board_img/magnifying-glass.png   ">
                <div><button>Add Task<img style="margin-left: 10px"
                            src="../img/board_img/plus-button-white.png"></button></div>
            </div>
        </div>
        <div class="taskSection">
            <div class="tasks">
                <div class="status">
                    <p>To Do</p>
                    <img src="../img/board_img/plus-btn.png" id="plus" onclick="openAddTask()">
                </div>

                <div class="dragArea" id="todo" ondrop="moveTo('todo')" ondragleave="removeHighlight('todo')"
                    ondragover="allowDrop(event); highlight('todo')">

                </div>
            </div>

            <div class="tasks">
                <div class="status">
                    <p>In Progress</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                </div>

                <div class="dragArea" id="inProgress" ondrop="moveTo('progress')"
                    ondragleave="removeHighlight('inProgress')" ondragover="allowDrop(event); highlight('inProgress')">

                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <p>Awaiting Feedback</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                </div>

                <div class="dragArea" id="awaitingFeedback" ondrop="moveTo('feedback')"
                    ondragleave="removeHighlight('awaitingFeedback')"
                    ondragover="allowDrop(event); highlight('awaitingFeedback')">

                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <p>Done</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                </div>

                <div class="dragArea" id="done" ondrop="moveTo('done')" ondragleave="removeHighlight('done')"
                    ondragover="allowDrop(event); highlight('done')">

                </div>
            </div>
        </div>
</body>

</html>