<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/board.css">
    <link rel="stylesheet" href="../../css/fonts.css">
    <script src="../../js/board.js"></script>

    <title>Board</title>
</head>

<body onload="init()">

    <div class="addNewTask d-none" id="addNewTask">
        
    </div>
    <div id="openTask" class="openTask d-none">
        </div>
    <div class="container">
        <div class="headlineAddTasks">
            <h1>Board</h1>
            <div class="inputAndButton">
                <input placeholder="Find Task" src="../img/board_img/magnifying-glass.png   ">
                <div><button onclick="addTask()">Add Task<img style="margin-left: 10px" src="../img/board_img/plus-button-white.png"></button></div>
            </div>
        </div>
        <div class="taskSection">
            <div class="tasks">
                <div class="status">
                    <div>
                    <p>To Do</p>
                    <img src="../img/board_img/plus-btn.png" id="plus" onclick="openAddTask()">
                    </div>
                </div>

                <div class="dragArea" id="todo" ondrop="moveTo('todo')" ondragleave="removeHighlight('todo')"
                    ondragover="allowDrop(event); highlight('todo')">

                </div>
            </div>

            <div class="tasks">
                <div class="status">
                    <div>
                    <p>In Progress</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                    </div>
                </div>

                <div class="dragArea" id="inProgress" ondrop="moveTo('progress')"
                    ondragleave="removeHighlight('inProgress')" ondragover="allowDrop(event); highlight('inProgress')">

                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <div>
                    <p>Awaiting Feedback</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                    </div>
                </div>

                <div class="dragArea" id="awaitingFeedback" ondrop="moveTo('feedback')"
                    ondragleave="removeHighlight('awaitingFeedback')"
                    ondragover="allowDrop(event); highlight('awaitingFeedback')">

                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <div>
                    <p>Done</p>
                    <img src="../img/board_img/plus-btn.png" id="plus">
                    </div>
                </div>

                <div class="dragArea" id="done" ondrop="moveTo('done')" ondragleave="removeHighlight('done')"
                    ondragover="allowDrop(event); highlight('done')">

                </div>
            </div>
        </div>
</body>

</html>