<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_board.css">

    <title>Board</title>
</head>

<body>
    <div class="container">
        <div class="headlineAddTasks">
            <h1>Board</h1>
            <div><input>
                <button></button>
            </div>
        </div>
        <div class="taskSection">
            <div class="tasks">
                <div class="status">
                    <p>To Do</p>
                    <img src="/join/assets/img/plus-button.png" id="plus">
                </div>
                <div class="taskBoxes">
                    <div class="singleTask">
                        <div class="category">test</div>
                        <div class="taskHeadline"></div>
                        <div class="taskDescription"></div>
                        <div class="progressBar"></div>
                        <div class="peopleInvolvedPriority"></div>
                    </div>
                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <p>In Progress</p>
                    <img src="/join/assets/img/plus-button.png" id="plus">
                </div>
                <div class="taskBoxes">
                    <div class="singleTask">
                        <div class="category">test</div>
                        <div class="taskHeadline"></div>
                        <div class="taskDescription"></div>
                        <div class="progressBar"></div>
                        <div class="peopleInvolvedPriority"></div>
                    </div>
                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <p>Awaiting Feedback</p>
                    <img src="/join/assets/img/plus-button.png" id="plus">
                </div>
                <div class="taskBoxes">
                    <div class="singleTask">
                        <div class="category">test</div>
                        <div class="taskHeadline"></div>
                        <div class="taskDescription"></div>
                        <div class="progressBar"></div>
                        <div class="peopleInvolvedPriority"></div>
                    </div>
                </div>
            </div>
            <div class="tasks">
                <div class="status">
                    <p>Done</p>
                    <img src="/join/assets/img/plus-button.png" id="plus">
                </div>
                <div class="taskBoxes">
                    <div class="singleTask">
                        <div class="category">test</div>
                        <div class="taskHeadline"></div>
                        <div class="taskDescription"></div>
                        <div class="progressBar"></div>
                        <div class="peopleInvolvedPriority"></div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>