<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-contact.css" />
    <script src="/js/script-contact.js"></script>
    <title>Contacts</title>
  </head>
  <body class="body-contact" onload="includeHTML()">
    <div w3-include-html="side_bar.html"></div>

    <div class="container">
      <div class="container-left">
        <div class="container-position">
          <div class="first-letter">
            <p>A</p>
          </div>
          <div class="between-line">
            <p></p>
          </div>
          <div class="contact">
            <div class="beginner-letter">
                <div>
                <p>AS</p>
                </div>
            </div>
            <div style="gap: 5px">
              <p class="contact-name">Anton Mayer</p>
              <p class="contact-email">Schulz@hotmail.com</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container-right">
        <div class="headline">
          <h1>Contacts</h1>
          <div></div>
          <h3>Better with a Team</h3>
        </div>
      </div>

      <div class="contact-information">
        <div class="contact-information-up">
          <div class="contact-icon">
            <div class="contact-icon-bg">
              <div>AM</div>
            </div>
          </div>
          <div class="add-task">
            <div class="add-task-name">
              <div>Anton Mayer</div>
            </div>
            <div class="add-task-btn">
              <div class="add-task-btn-plus">
                <div class="add-task-btn-hori"></div>
                <div class="add-task-btn-vert"></div>
              </div>
              <div class="add-task-btn-text">Add Task</div>
            </div>
          </div>
        </div>
        <div class="contact-information-middle">
          <div class="contact-information-text"> Contact Information</div>
          <div class="edit-container">
            <div class="edit-container-left"> 
              <div class="edit-v6"></div>
              <div class="edit-v7"></div>
            </div>
            <div>Edit Contact</div>
          </div>
        </div>
        <div class="contact-information-down">
          <div class="contact-information-fr102">
            <div class="contact-information-fr102-email">Email</div>
            <div class="contact-information-fr102-text">antom@gmail.com</div>
          </div>
          <div class="contact-information-fr103">
            <div class="contact-information-fr103-phone">Phone</div>
            <div class="contact-information-fr103-number">+49111111111</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
