<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style-contact.css" />
    <script src="/js/script-contact.js"></script>
    <title>Contacts</title>
  </head>
  <body class="body-contact" onload="render()">
    <div w3-include-html="side_bar.html"></div>

    <div id="lightboxAddContact" class="lightbox-add-contact d-none">
      <div class="lightbox-container">
        <div class="lightbox-container-left">
          <div>Logo</div>
          <h1>Add contact</h1>
          <p>Tasks are better with a team</p>
          <div class="underline"></div>
        </div>
        <div class="lightbox-container-right">
          <div class="lightbox-img">
            <div>IMG</div>
          </div>
          <div class="lightbox-input-pos">
            <div>
              <div class="lightbox-input-pos-close" onclick="HideNewContactContainer()">X</div>
              <input id="AddName" placeholder="Name" type="text">
              <input id="AddEmail" placeholder="Email" type="text">
              <input id="AddNumber" placeholder="Phone" type="text">
            </div>
            <div class="lightbox-btn">
              <button class="lightbox-btn-left" onclick="HideNewContactContainer()">Cancel x</button>
              <button class="lightbox-btn-right" onclick="c">Create contact x</button>
            </div>
          </div>       
        </div>
      </div>
    </div>

    <div class="container">
      <div class="container-left">
        <div id="contactList" class="container-position">
          
        </div>
      </div>

      <div id="containerRight" class="container-right">
        
      </div>
    </div>
  </body>
</html>
