<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../css/help.css">
</head>

<body>
    <div class="help">
        <div class="help_header">
            <div>Help</div>
            <img onclick="loadContent('summary')" src="../img/help-img/arrow.svg" alt="">
        </div>
        <div class="app_description">
            <div>What is Join?</div>
            <span>Join is a classical task management tool with a kanban-board. You can
                organize your tasks whithin a
                project or business processes. It is perfectly suitable for working together with your team. Join let
                you
                and your team work more efficiently. You have all of your taks in focus und won't miss upcoming
                deadlines
                anymore. Start working with Join now!</span>
        </div>
        <div class="how_to_use_it">
            <div class="how_to_use_it_headline">How to use it</div>
            <div class="how_to_use_it_content">
                <div class="how_to_use_it_steps">
                    <div>1.</div>
                    <span> Add a task with title, description and category. Assign the task to other team members of
                        your
                        contact list or invite new contacts.</span>
                </div>
                <div class="how_to_use_it_steps">
                    <div>2.</div>
                    <span>Check the current status of your tasks in the kanban-board. You can drag and drop your task to
                        change the status. Also it is possible to edit the task details.</span>
                </div>
                <div class="how_to_use_it_steps">
                    <div>3.</div>
                    <span> Add team members to your contact list to communicate to them fastly. Also you can assign
                        tasks
                        directly to your contacts.</span>
                </div>
            </div>
        </div>

    </div>
</body>

</html>