<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div >
            <img src="/assets/img/contact-img/logo.png" alt="" srcset="">
        </div>

        
        <div class="container-login">
                <h1>Log in</h1>
                <span>line</span>
                <form action="">
                    <input type="email" name="" id="">
                    <input type="password">
                </form>
                <input type="checkbox" id="remember"  value="Boat">
                <label for="remember"> Remember me</label>
                <div>
                    <button> Log in</button>
                    <button> Guest Log in</button>
                </div>
        </div>
        

        <div>
            <p>Not ja Join user?</p>
            <button>Sign up</button>
        </div>
    </div>
</body>
</html>