<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <title>Login</title>
</head>
<body>
    <div class="container">

        <div style="width: 250px;" >
            <img src="/assets/img/contact-img/logo.png" alt="" srcset="">
        </div>

        
        <div class="container-login">
                <div class="container-up">  
                    <h1>Log in</h1>
                    <div class="underline-login"></div>
                </div>
              
                <form class="container-input" action="">
                    <input type="email" name="" id="" placeholder="Email">
                    <input type="password" placeholder="Password">
                </form>
                <div class="container-remember">
                    <input type="checkbox" id="remember"  value="Boat">
                    <label for="remember"> Remember me</label>
                    <p>Forgot my Password</p>
                </div>
                
                <div class="container-button">
                    <button class="login-button"> Log in</button>
                    <button class="guest-button" onclick="window.open('/assets/templates/side_bar.html')"> Guest Log in</button>
                </div>
        </div>
        

        <div class="container-signup">
            <p>Not ja Join user?</p>
            <button>Sign up</button>
        </div>
    </div>
</body>
</html>