<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/fonts.css">
    <link rel="stylesheet" href="../../css/side_bar.css">
    <script src="../../js/side_bar.js"></script>
    <script src="../../js/script-contact.js"></script>
    <script src="../../js/add_task.js"></script>
    <script src="../../js/board.js"></script>

</head>

<body class="body" onload="loadContent('summary')">


    <div class="side_bar">
        <div class="menu">
            <div class="menu_logo">
                <img src="../img/menu-img/menu-logo.svg" alt="">
            </div>
            <div class="menu_under_logo">
                <div class="menu_tabs">
                    <div id="tab-summary" class="tab" onclick="loadContent('summary')">
                        <div class="tab_icon">
                            <img src="../img/menu-img/summary-icon.svg" alt="">
                        </div>
                        <div class="tab_description">Summary</div>
                    </div>
                    <div id="tab-board" class="tab" onclick="loadContent('board')">
                        <div class="tab_icon">
                            <img src="../img/menu-img/board-icon.svg" alt="">
                        </div>
                        <div class="tab_description">Board</div>
                    </div>
                    <div id="tab-add_task" class="tab" onclick="loadContent('add_task')">
                        <div class="tab_icon">
                            <img src="../img/menu-img/add-task-icon.svg" alt="">
                        </div>
                        <div class="tab_description">Add Task</div>
                    </div>
                    <div id="tab-contacts" class="tab" onclick="loadContent('contacts')">
                        <div class="tab_icon">
                            <img src="../img/menu-img/contacts-icon.svg" alt="">
                        </div>
                        <div class="tab_description">Contacts</div>
                    </div>
                </div>
                <div id="tab-legal_notice" class="tab_legal_notice">
                    <div class="tab_icon_legal_notice">
                        <img src="../img/menu-img/legal-notice-icon.svg" alt="">
                    </div>
                    <div class="tab_description_legal_notice" onclick="loadContent('legal_notice')">Legal notice
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content">
            <div class="header">
                <div class="header_headline">Kanban Project Management Tool</div>
                <div class="header_image">
                    <img src="../img/header-img/question-mark-icon.svg" alt="">
                    <img src="../img/header-img/profile-img.svg" alt="">
                </div>
            </div>

            <div id="content"></div>

        </div>
    </div>
</body>

</html>