<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../css/summary.css">
    <script src="../../js/summary.js"></script>
</head>

<body>
    <div class="summary">
        <div class="summary_header">
            <div>Summary</div>
            <span>Everything in a nutshell!</span>
        </div>
        <div>
            <div class="board_infos">
                <div>
                    <div>5</div>
                    <span>Tasks in<br>
                        Board</span>
                </div>
                <div>
                    <div>2</div>
                    <span>Tasks In<br>
                        Progress</span>
                </div>
                <div>
                    <div>2</div>
                    <span>Awaiting<br>
                        Feedback</span>
                </div>
            </div>
            <div class="urgent">
                <div>
                    <div>
                        <img src="" alt="">
                    </div>
                    <div>
                        <div>1</div>
                        <div>Urgent</div>
                    </div>
                </div>
                <div>
                    <div>October 16, 2022</div>
                    <div>Upcoming Deadline</div>
                </div>
            </div>
            <div>
                <div>
                    <div>1</div>
                    <div>To-do</div>
                </div>
                <div>
                    <div>1</div>
                    <div>Done</div>
                </div>
            </div>
        </div>
        <div class="welcome"></div>
    </div>
</body>

</html>